table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
.container{
    // margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}