<div class="title"><h1>Unit Detail Page</h1></div>
<div class="container">
    <table *ngFor="let filter of filterTableData$ | async">
        <ng-container *ngFor="let title of titles$ | async">
            <tr *ngIf="title !== 'cost'">
                <th>{{title}}</th>
                <td>{{filter[title]}}</td>
            </tr>
            <tr *ngIf="title == 'cost' && filter[title]">
                <th>Wood Cost</th>
                <td>{{filter[title].Wood ? filter[title].Wood : '-' }}</td>
            </tr>
            <tr *ngIf="title == 'cost' && filter[title]">
                <th>Food Cost</th>
                <td>{{filter[title].Food ? filter[title].Food : '-' }}</td>
            </tr>
            <tr *ngIf="title == 'cost' && filter[title]">
                <th>Gold Cost</th>
                <td>{{filter[title].Gold ? filter[title].Gold : '-' }}</td>
            </tr>
        </ng-container>
    </table>
</div>