.item-table{
    display: flex;
    justify-content: flex-start;
    border-collapse: collapse;
    // margin-left: 20px;
}
.item-table .td {
    border: 1px solid black;
  }
.item-table  th{
    border: 1px solid black;
    width: 70px;
    height: 35px;
    cursor: pointer;
  }
  .sub-title{
    margin-bottom:10px;
    font-size:15px;
    font-weight: 900;

  }
  .item-table th:hover{
      background-color: rgba(150, 150, 150, 0.5);
  }
  label{
      margin-left: 10px;
  }
  .left-area{
    display: flex; 
    flex-direction: column; 
    margin: 0 0 50px 20px;
  }
  ::ng-deep {
    .custom-slider.ng5-slider{
        width: 300px;
    }
    .custom-slider.ng5-slider .ng5-slider-bar {
      background: #d3df33;
      height: 2px;
    }
    .custom-slider.ng5-slider .ng5-slider-selection {
      background: #411706;
    }
  
    .custom-slider.ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: rgb(145, 74, 74);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider.ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
   
  }
  .mat-slider-vertical {
    height: 300px;
  }

  .gold {
    background-image: url('../../../../../../assets/gold.png');
  }
  .wood {
    background-image: url('../../../../../../assets/wood.png');
  }
  .food {
    background-image: url('../../../../../../assets/food.png');
  }
  .icons{
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 10px;
  }
  .mat-table{
      width: 80%;
      td{
        cursor: pointer;
      }
  }
 

  .element-value{
    display: inline-block;
    margin-right: 5px;
  }
  .element-table-cell {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
    // padding-right: 12px;
  }
  .mat-table th, td.mat-cell{
      padding-left: 24px;
  }
  .cost-area{
    display: flex;
    flex-direction: row;
  }
  .cost-margin{
    margin-right: 10px;
  }