<div class="title">
  <h1>Units Page</h1>
</div>

<div class="left-area">
  <div class="sub-title">Ages</div>
  <table class="item-table">
    <tr>
      <th (click)="tableSelected('all')">All</th>
      <th (click)="tableSelected('Dark')">Dark</th>
      <th (click)="tableSelected('Feudal')">Feudal</th>
      <th (click)="tableSelected('Castle')">Castle</th>
      <th (click)="tableSelected('Imperial')">Imperial</th>
    </tr>
  </table>
</div>
<div class="left-area">
  <div class="sub-title"> Costs </div>
  <div>
    <mat-checkbox [disabled]="!foodOptions.disabled && !goldOptions.disabled" color="primary" (change)="handleCheckBox({checked:$event.checked, item:'Wood'})">
      <div class="icons wood"></div>
    </mat-checkbox>
    <ng5-slider (userChangeEnd)="handleClickThresholdValue({value:woodValue, highValue:woodHighValue, item:'Wood'})"
      class="custom-slider" [(value)]="woodValue" [(highValue)]="woodHighValue" [options]="woodOptions"></ng5-slider>
    <label>{{woodValue}} - {{woodHighValue}}</label>
  </div>
  <div>
    <mat-checkbox [disabled]="!woodOptions.disabled && !goldOptions.disabled" color="primary" (change)="handleCheckBox({checked:$event.checked, item:'Food'})">
      <div class="icons food"></div>
    </mat-checkbox>
    <ng5-slider (userChangeEnd)="handleClickThresholdValue({value:foodValue, highValue:foodHighValue, item:'Food'})"
      class="custom-slider" [(value)]="foodValue" [(highValue)]="foodHighValue" [options]="foodOptions"></ng5-slider>
    <label>{{foodValue}} - {{foodHighValue}}</label>
  </div>
  <div>
    <mat-checkbox [disabled]="!foodOptions.disabled && !woodOptions.disabled" color="primary" (change)="handleCheckBox({checked:$event.checked, item:'Gold'})">
      <div class="icons gold"></div>
    </mat-checkbox>
    <ng5-slider disabled
      (userChangeEnd)="handleClickThresholdValue({value:goldValue, highValue:goldHighValue, item:'Gold'})"
      class="custom-slider" [(value)]="goldValue" [(highValue)]="goldHighValue" [options]="goldOptions"></ng5-slider>
    <label>{{goldValue}} - {{goldHighValue}}</label>
  </div>
</div>
<div *ngIf="combineData$ | async as combineData" style="display: flex; justify-content: center; align-items: center;">
  <table mat-table [dataSource]="combineData" class="mat-table">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td (click)="tableCellClick(element.id)" mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td (click)="tableCellClick(element.id)" mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age </th>
      <td (click)="tableCellClick(element.id)" mat-cell *matCellDef="let element"> {{element.age}} </td>

    </ng-container>

    <ng-container matColumnDef="costs">
      <th mat-header-cell *matHeaderCellDef> Costs </th>
      <td mat-cell *matCellDef="let element">
        <div class="cost-area">
          <div class="cost-margin" *ngIf="element.cost && element.cost.Food">
            Food:{{element.cost.Food}}
          </div>
          <div class="cost-margin" *ngIf="element.cost && element.cost.Gold">
            Gold:{{element.cost.Gold}}
          </div>
          <div class="cost-margin" *ngIf="element.cost && element.cost.Wood">
            Wood:{{element.cost.Wood}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>