

ol,
ul {
  margin-top: 0;
  margin-bottom: 9px;
}

.container {
  font-size: 13px;
  line-height: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  line-height: 60px;
  font-weight: 400;
  box-shadow: 0 1px 3px 0 #b19e35;
  height: 60px;
  background-color: #411706;
  top: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 10000;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}
.menu {
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  font-weight: 500;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu li div {
  display: block;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color:  #b19e35;
  padding: 0 20px;
  cursor: pointer;
}

.menu li a:hover {
  background: #3d3b3a7e
}

.header .name {
  cursor: pointer;
  color: #fff;
  height: 60px;
  float: left;
  margin-right: 30px;
  margin-top: 0;
  font-size: 24px;
  font-family: 'Coiny', sans-serif;
  font-variant: small-caps;
}