
<div class="container">
    <div class="header">
        <div class="brand">
            <div (click)="onClickMenu('Home')" class="name">Age Of Empires</div>
        </div>
        <ul class="menu">
            <li><div (click)="onClickMenu('Home')">Home</div></li>
            <li><div (click)="onClickMenu('Units')">Units</div></li>

        </ul>
    </div>
</div>