.background {
    background-image: url('../../../../../../assets/age-of-empires.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 650px;
    height: 350px;
    // margin-top: 100px;
    cursor: pointer;
  }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}