
<div class="title"><h1>Home Page</h1></div>

<div style="display: flex; flex-direction: column;">

    <div class="container">
        <div class="background" (click)="onClick()"></div>
    </div>
</div>