
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ageOfEmpires-primary: mat.define-palette(mat.$indigo-palette);
$ageOfEmpires-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ageOfEmpires-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ageOfEmpires-theme: mat.define-light-theme((
  color: (
    primary: $ageOfEmpires-primary,
    accent: $ageOfEmpires-accent,
    warn: $ageOfEmpires-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ageOfEmpires-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body {
    background-color: rgba(138, 145, 194, 0.082);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
  }

.title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
